:root{
    --color-orange: #F09C65;
    --color-yellow: #FCDC94;
    --color-lightgreen: #C7CFA0;
    --color-green: #78AAA8;
    --color-darkgreen: #40684E;
    --color-dark: #212529;
}

*{
    // <weight>: Use a value from 100 to 900
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#app {
    background-color: var(--color-yellow);
}

.btn-orange{
    background-color: var(--color-orange);
    color: var(--color-dark);
    font-weight: 600;

    &:hover {
        transform: scale(1.1);
    }
}

.btn-dark {
    background-color: var(--color-dark);
    color: var(--color-yellow);
    font-weight: 600;

    &:hover {
        transform: scale(1.1);
    }
}

.bg-green{
    background-color: var(--color-green);
}